# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/

# Native build folders
ios/
android/

# Native keys / certs
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# Metro
.metro-health-check*

# debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store

# env / secrets
.env
.env.*
!.env.example

# TypeScript
*.tsbuildinfo

# Deploy artifacts
deploy.sh
